parameters:
	ignoreErrors:
		-
			message: '#^Usage of global function "app" is forbidden\.$#'
			identifier: myCustomRules.forbiddenGlobalFunctions
			count: 2
			path: src/Filament/Admin/RelationManagers/PouchRoutesRelationManager.php

		-
			message: '#^Usage of global function "app" is forbidden\.$#'
			identifier: myCustomRules.forbiddenGlobalFunctions
			count: 8
			path: src/Filament/Admin/Schemas/PouchNodeTab.php
